<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginProcess</servlet-name>
        <servlet-class>servlet.loginProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentHistoryForGuardian</servlet-name>
        <servlet-class>servlet.studentHistoryForGuardian</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>practiceExamSet</servlet-name>
        <servlet-class>servlet.practiceExamSet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardianHomepage</servlet-name>
        <servlet-class>servlet.guardianHomepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentPracticeHistory</servlet-name>
        <servlet-class>servlet.studentPracticeHistory</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>examQuestion</servlet-name>
        <servlet-class>servlet.examQuestion</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>studentHistory</servlet-name>
        <servlet-class>servlet.studentHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountStudent</servlet-name>
        <servlet-class>servlet.CreateAccountStudent</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>studentPage</servlet-name>
        <servlet-class>servlet.studentPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>practiceQuestion</servlet-name>
        <servlet-class>servlet.practiceQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>sukarna.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>sukarna.servlets.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccount</servlet-name>
        <servlet-class>servlet.createAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacherInterfaceServlet</servlet-name>
        <servlet-class>servlet.teacherInterfaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacherIntServlet</servlet-name>
        <servlet-class>servlet.teacherIntServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MCQServlet</servlet-name>
        <servlet-class>servlet.MCQServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teaIntServlet</servlet-name>
        <servlet-class>servlet.teaIntServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>QuestionPaperServlet</servlet-name>
        <servlet-class>servlet.QuestionPaperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesciptiveQues</servlet-name>
        <servlet-class>servlet.DescriptiveQues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DescriptiveQues</servlet-name>
        <servlet-class>servlet.DescriptiveQues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>availableQuestionPaper</servlet-name>
        <servlet-class>servlet.availableQuestionPaper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionFromPaper</servlet-name>
        <servlet-class>servlet.QuestionFromPaper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowQuesForUpdate</servlet-name>
        <servlet-class>servlet.ShowQuesForUpdate</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AnswerCheck</servlet-name>
        <servlet-class>servlet.AnswerCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnswerOfStudent</servlet-name>
        <servlet-class>servlet.AnswerOfStudent</servlet-class>
    </servlet>
    
     <servlet>
        <servlet-name>MarksUpload</servlet-name>
        <servlet-class>servlet.MarksUpload</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>teacherInterfaceServlet</servlet-name>
        <url-pattern>/teacherInterfaceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacherIntServlet</servlet-name>
        <url-pattern>/teacherIntServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MCQServlet</servlet-name>
        <url-pattern>/MCQUpload.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teaIntServlet</servlet-name>
        <url-pattern>/teaIntServlet.do</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>QuestionPaperServlet</servlet-name>
        <url-pattern>/QuestionPaperServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesciptiveQues</servlet-name>
        <url-pattern>/DesciptiveQues.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DescriptiveQues</servlet-name>
        <url-pattern>/DescriptiveQues.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>availableQuestionPaper</servlet-name>
        <url-pattern>/availableQuestionPaper.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionFromPaper</servlet-name>
        <url-pattern>/QuestionFromPaper.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowQuesForUpdate</servlet-name>
        <url-pattern>/ShowQuesForUpdate.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginProcess</servlet-name>
        <url-pattern>/loginProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentPracticeHistory</servlet-name>
        <url-pattern>/studentPracticeHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardianHomepage</servlet-name>
        <url-pattern>/guardianHomepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>practiceQuestion</servlet-name>
        <url-pattern>/practiceQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountStudent</servlet-name>
        <url-pattern>/CreateAccountStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentHistory</servlet-name>
        <url-pattern>/studentHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentHistoryForGuardian</servlet-name>
        <url-pattern>/studentHistoryForGuardian</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>studentPage</servlet-name>
        <url-pattern>/studentPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>practiceExamSet</servlet-name>
        <url-pattern>/practiceExamSet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccount</servlet-name>
        <url-pattern>/createAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>examQuestion</servlet-name>
        <url-pattern>/examQuestion</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>AnswerCheck</servlet-name>
        <url-pattern>/AnswerCheck.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerOfStudent</servlet-name>
        <url-pattern>/AnswerOfStudent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnswerOfStudent</servlet-name>
        <url-pattern>/AnswerOfStudent.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MarksUpload</servlet-name>
        <url-pattern>/MarksUpload.do</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
